@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "yata";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(26% 0 0);
  --color-base-300: oklch(43% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(90% 0.182 98.111);
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: oklch(82% 0.12 346.018);
  --color-secondary-content: oklch(28% 0.109 3.907);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(29% 0.066 243.157);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(87% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0rem;
  --radius-field: 1rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
